main{
    padding: 50px;
}
main .icon{
    font-size: 100px;
}

main h2{
    font-size: 50px;
}
main h3{
    font-size: 40px;
}

.about-main img{
    width: 50vw;
}

.service-flex{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.service-flex .w3-card-4{
    width: 40%;
}

@media only screen and (max-width: 600px) {
    main{
        padding: 20px;
    }
    main .icon{
        font-size: 50px;
    }
    main h2{
        font-size: 30px;
    }
    main h3{
        font-size: 20px;
    }  
    
    .service-flex .w3-card-4{
        width: unset;
    }
}

